*{
    font-family: "Roboto", sans-serif;
    
}
body{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    font-size: 17px;
}

h3{
    font-size: 18px;
}
h1{
    margin: 0;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}