* {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0px;
  padding: 0px;
}

a {
  text-decoration: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

p {
  font-size: 17px;
}

h3 {
  font-size: 18px;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: 500;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}

.logo {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo img {
  width: 170px;
  padding: 15px;
  height: auto;
}

.log {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.log img {
  width: 170px;
  padding: 15px;
  height: auto;
}

.loca {
  display: flex;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: #EAEAEA;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.fa-arrow-left {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 23px;
}

footer {
  background-color: #353535;
  width: 100%;
}

.foot {
  display: grid;
  color: white;
  padding: 25px;
}
.foot__logo h2 {
  font-family: "Shrikhand", serif;
  font-weight: 300;
  margin: 0px;
  padding-bottom: 15px;
}
.foot__liens {
  padding-bottom: 5px;
  font-weight: 400;
}
.foot__liens .icon {
  gap: 200px;
}
.foot__contact {
  display: grid;
  font-weight: 300;
}
.foot__contact a {
  padding-bottom: 5px;
}

@media (min-width: 1024px) {
  .foot {
    display: flex;
    gap: 15px;
  }
  .foot__liens {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
  }
  .foot__contact {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
  }
}
.explo {
  padding: 30px;
  background-color: #F6F6F6 !important;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.explo__title {
  margin-top: 0px;
  font-size: 25px;
  width: 100%;
}
.explo__content {
  font-weight: 300;
}
.explo__btn {
  font-weight: 500;
  font-size: 16px;
  height: 50px;
  color: #fff;
  background: linear-gradient(355deg, #9356DC 1%, #FF79DA 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
}

.fonctionnement {
  padding: 30px;
}
.fonctionnement__etape {
  position: relative;
  padding: 50px;
  font-weight: 500;
  margin-bottom: 30px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  padding: 30px;
  border-radius: 20px;
}
.fonctionnement__etape .fa-solid, .fonctionnement__etape .fas {
  margin-left: 10px;
  font-size: 20px;
  color: grey;
}
.fonctionnement__etape .fa-store {
  color: #9356DC;
}
.fonctionnement__etape .numb {
  position: absolute;
  left: -15px;
  background-color: #9356DC;
  gap: 15px;
  color: white;
  padding: 5px 10px;
  border-radius: 50px;
}
.fonctionnement__etape .txt {
  display: inline-block;
  font-size: 18px;
  font-weight: 700;
  padding-left: 25px;
  justify-content: center;
  text-align: center;
}

.restau {
  padding: 15px;
  background-color: #F6F6F6;
}
.restau__card {
  position: relative;
  background-color: #fff;
  border-radius: 25px;
  margin-bottom: 15px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}
.restau__card img {
  position: relative;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 150px;
  border-radius: 25px 25px 0px 0px;
}
.restau__card .new {
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  background: #99E2D0;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  border-radius: 3px;
}
.restau__card .new1 {
  color: #008766;
  font-size: 13px;
  font-weight: 500;
}
.restau__card h3, .restau__card p {
  margin: 0px;
}
.restau__card .car__content {
  display: inline-block;
}
.restau__card .text {
  flex: 1;
  margin: 0;
  padding: 15px;
}
.restau__card .heart {
  opacity: 1;
  position: absolute;
  right: 20px;
  bottom: 30px;
}

@media (min-width: 1024px) {
  .fonctionnement__etapes {
    display: flex;
    gap: 30px;
  }
  .fonctionnement__etape {
    width: 33%;
  }
  .bur {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
  }
  .restau a {
    width: 95%;
  }
  .restau__card {
    width: 100%;
  }
}
img {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container_menu {
  position: relative;
}

.bg-grey {
  position: absolute;
  background-color: #F6F6F6;
  top: -40px;
  width: 100%;
  height: 40px;
  border-radius: 40px 40px 0 0;
}

.menu {
  background-color: #F6F6F6;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.menu h1 {
  font-family: "Shrikhand", serif;
  font-weight: 200;
}
.menu .heart2 {
  animation: like 0.1s;
}
.menu .carte {
  position: relative;
  text-align: left;
  padding: 10px;
  background: white;
  margin: 15px;
  border-radius: 20px;
  box-shadow: 0px 4.0114941597px 15.0431032181px 0px rgba(0, 0, 0, 0.1019607843);
}
.menu .carte h3, .menu .carte p {
  margin: 0;
  padding-top: 3px;
  padding-bottom: 3px;
}
.menu .carte p {
  font-size: 14px;
}
.menu .carte .prix {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-weight: 700;
  font-size: 16px;
}
.menu .carte .valid {
  display: flex;
  opacity: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0%;
  height: 100%;
  background-color: #99E2D0;
  border-radius: 0px 20px 20px 0px;
  font-size: 20px;
  color: white;
}
.menu .carte:hover .prix {
  animation: slidePrix 0.5s forwards;
}
.menu .carte:hover .valid {
  opacity: 1;
  animation: slideIn 0.5s forwards;
}
.menu__bouton {
  font-weight: 500;
  width: 50%;
  font-size: 16px;
  height: 50px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  background: linear-gradient(355deg, #9356DC 1%, #FF79DA 100%);
  padding: 10px 30px;
  border: none;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  border-radius: 25px;
}
.menu .titre3 {
  display: flex;
  gap: 15px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.menu .titremenu {
  margin-left: 10px;
  text-align: left;
  padding-bottom: 2px;
}
.menu__section {
  opacity: 0;
  animation: appear 3s;
  animation-fill-mode: both;
}
.menu .entrees {
  animation-delay: 0s;
}
.menu .plats {
  animation-delay: 1s;
}
.menu .desserts {
  animation-delay: 2s;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slideIn {
  from {
    width: 0%;
  }
  to {
    width: 65px;
  }
}
@keyframes slidePrix {
  from {
    right: 15px;
  }
  to {
    right: 80px;
  }
}
@keyframes like {}
@media (min-width: 1024px) {
  img {
    height: 320px;
  }
  .container_menu {
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu {
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=main.css.map */